<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyokemon.account.auth.repository.AccountRepository">

    <resultMap id="AccountResultMap" type="com.pyokemon.account.auth.entity.Account">
        <id column="id" property="id"/>
        <result column="role" property="role"/>
        <result column="login_id" property="loginId"/>
        <result column="password" property="password"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="findByLoginId" resultMap="AccountResultMap">
        SELECT * FROM tb_account WHERE login_id = #{loginId}
    </select>

    <select id="findByLoginIdAndStatus" resultMap="AccountResultMap">
        SELECT * FROM tb_account WHERE login_id = #{loginId} AND status = #{status}
    </select>

    <select id="findByAccountId" resultMap="AccountResultMap">
        SELECT * FROM tb_account WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.pyokemon.account.auth.entity.Account" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_account (role, login_id, password, status, created_at, updated_at)
        VALUES (#{role}, #{loginId}, #{password}, #{status}, NOW(), NOW())
    </insert>

    <update id="update" parameterType="com.pyokemon.account.auth.entity.Account">
        UPDATE tb_account 
        SET role = #{role}, login_id = #{loginId}, password = #{password}, status = #{status}, updated_at = NOW()
        WHERE id = #{id}
    </update>

    <update id="updateStatus">
        UPDATE tb_account SET status = #{status}, updated_at = NOW() WHERE id = #{id}
    </update>

    <update id="updatePassword">
        UPDATE tb_account SET password = #{password}, updated_at = NOW() WHERE id = #{id}
    </update>

    <select id="existsByLoginId" resultType="boolean">
        SELECT COUNT(*) > 0 FROM tb_account WHERE login_id = #{loginId}
    </select>

    <select id="existsByLoginIdAndStatus" resultType="boolean">
        SELECT COUNT(*) > 0 FROM tb_account WHERE login_id = #{loginId} AND status = #{status}
    </select>

</mapper> 