<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyokemon.account.user.bff.repository.UserBffRepository">

    <select id="findByAccountId" resultType="com.pyokemon.account.user.entity.User">
        SELECT * FROM tb_user WHERE account_id = #{accountId}
    </select>

</mapper> 