<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyokemon.event.bff.repository.BffEventRepository">
    <select id="findEventScheduleById" resultType="com.pyokemon.event.bff.dto.BffEventScheduleDto">
        SELECT event_schedule_id, event_id, venue_id, event_date FROM tb_event_schedule WHERE event_schedule_id = #{eventScheduleId}
    </select>
    <select id="findVenueById" resultType="com.pyokemon.event.bff.dto.BffVenueDto">
        SELECT venue_id, venue_name FROM tb_venue WHERE venue_id = #{venueId}
    </select>
    <select id="findSeatById" resultType="com.pyokemon.event.bff.dto.BffSeatDto">
        SELECT seat_id, seat_class_id, floor, `row`, col FROM tb_seat WHERE seat_id = #{seatId}
    </select>

    <!-- 배치: ids가 비면 0행 반환 -->
    <select id="findSeatsByIdIn"
            parameterType="map"
            resultType="com.pyokemon.event.bff.dto.BffSeatDto">
        SELECT
        seat_id,
        seat_class_id,
        floor,
        `row`,
        col
        FROM tb_seat
        WHERE
        <choose>
            <when test="ids != null and ids.size() > 0">
                seat_id IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                1 = 0
            </otherwise>
        </choose>
    </select>

    <select id="findEventById" resultType="com.pyokemon.event.bff.dto.BffEventDto">
        SELECT event_id, title, thumbnail_url FROM tb_event WHERE event_id = #{eventId}
    </select>
    <select id="findSeatClassById" resultType="com.pyokemon.event.bff.dto.BffSeatClassDto">
        SELECT seat_class_id, class_name, priority FROM tb_seat_class WHERE seat_class_id = #{seatClassId}
    </select>

    <!-- 배치 조회 -->
    <select id="findSeatClassesByIdIn"
            parameterType="map"
            resultType="com.pyokemon.event.bff.dto.BffSeatClassDto">
        SELECT
        seat_class_id,
        class_name,
        priority
        FROM tb_seat_class
        WHERE
        <choose>
            <when test="ids != null and ids.size() > 0">
                seat_class_id IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                1 = 0
            </otherwise>
        </choose>
    </select>


    <select id="findEventSchedulesByIdIn" parameterType="map" resultType="com.pyokemon.event.bff.dto.BffEventScheduleDto">
        SELECT event_schedule_id, event_id, venue_id, event_date
        FROM tb_event_schedule
        <where>
            <if test="ids != null and ids.size() > 0">
                event_schedule_id IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findEventsByIdIn" parameterType="map" resultType="com.pyokemon.event.bff.dto.BffEventDto">
        SELECT event_id, title, thumbnail_url
        FROM tb_event
        <where>
            <if test="ids != null and ids.size() > 0">
                event_id IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findVenuesByIdIn" parameterType="map" resultType="com.pyokemon.event.bff.dto.BffVenueDto">
        SELECT venue_id, venue_name
        FROM tb_venue
        <where>
            <if test="ids != null and ids.size() > 0">
                venue_id IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 장르로 eventIds 조회 -->
    <select id="findIdsByGenre" parameterType="string" resultType="long">
        SELECT event_id
        FROM tb_event
        WHERE genre = #{genre}
    </select>

    <!-- eventIds로 eventScheduleIds 조회 -->
    <select id="findIdsByEventIds" parameterType="map" resultType="long">
        SELECT event_schedule_id
        FROM tb_event_schedule
        <where>
            <if test="eventIds != null and eventIds.size() > 0">
                event_id IN
                <foreach collection="eventIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>