<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyokemon.event.repository.EventRepository">

    <select id="findEventDetailByEventId">
        SELECT
        e.event_id,
        e.title,
        e.age_limit,
        e.description,
        e.genre,
        e.thumbnail_url,
        es.event_schedule_id,
        es.ticket_open_at,
        es.event_date,
        v.venue_name
        FROM tb_event e
        JOIN tb_event_schedule es ON es.event_id = e.event_id
        Join tb_venue v on e.event_id= es.venue_id = v.venue_id

        WHERE e.event_id = #{event_id}
    </select>

</mapper>
