<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyokemon.event.repository.EventScheduleRepository">

    <select id="selectTodayOpenedTickets" resultType="EventItemResponseDTO">
        SELECT
            es.event_schedule_id,
            es.event_id,
            es.venue_id,
            es.ticket_open_at,
            es.event_date,
            e.title AS title,
            v.venue_name AS venue_name
        FROM tb_event_schedule es
                 JOIN tb_event e ON es.event_id = e.event_id
                 JOIN tb_venue v ON es.venue_id = v.venue_id
        WHERE DATE(es.ticket_open_at) = CURDATE()
        LIMIT 9
    </select>

    <select id="selectTicketsToBeOpened" resultType="EventItemResponseDTO">
        SELECT
            es.event_schedule_id,
            es.event_id,
            es.venue_id,
            es.ticket_open_at,
            es.event_date,
            e.title AS title,
            v.venue_name AS venue_name
        FROM tb_event_schedule es
                 JOIN tb_event e ON es.event_id = e.event_id
                 JOIN tb_venue v ON es.venue_id = v.venue_id
        WHERE DATE(ticket_open_at) = DATE_ADD(CURDATE(), INTERVAL 1 DAY)
            LIMIT 8
    </select>


</mapper>
