<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyokemon.event.repository.EventRepository">
    <insert id="save" parameterType="Event" useGeneratedKeys="true" keyProperty="eventId" keyColumn="event_id">
        INSERT INTO tb_event (
            tenant_id,
            title,
            age_limit,
            description,
            genre,
            thumbnail_url,
            status,
            created_at,
            updated_at
        ) VALUES (
            #{tenantId},
            #{title},
            #{ageLimit},
            #{description},
            #{genre},
            #{thumbnailUrl},
            #{status},
            #{createdAt},
            #{updatedAt}
        )
        <selectKey resultType="long" keyProperty="eventId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="findEventDetailByEventId" resultType="EventDetailResponseDTO">
        SELECT
        e.event_id,
        e.title,
        e.age_limit,
        e.description,
        e.genre,
        e.thumbnail_url,
        es.event_schedule_id,
        es.ticket_open_at,
        es.event_date,
        v.venue_name,
        CASE
        WHEN EXISTS (
        SELECT 1 FROM tb_saved_event se
        WHERE se.account_id = #{account_id} AND se.event_id = e.event_id
        ) THEN TRUE
        ELSE FALSE
        END AS is_saved
        FROM tb_event e
        JOIN tb_event_schedule es ON es.event_id = e.event_id
        JOIN tb_venue v ON es.venue_id = v.venue_id

        WHERE e.event_id = #{event_id}
    </select>

</mapper>
