<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyokemon.event.repository.PriceRepository">

    <select id="findPricesWithSeatClassByEventScheduleId" resultType="PriceWithSeatClassDTO">
        SELECT p.price_id, p.event_schedule_id, p.seat_class_id, p.price,
               sc.class_name
        FROM tb_price p
        JOIN tb_seat_class sc ON p.seat_class_id = sc.seat_class_id
        WHERE p.event_schedule_id = #{eventScheduleId}
        ORDER BY sc.priority
    </select>

    <insert id="save" parameterType="Price" useGeneratedKeys="true" keyProperty="id" keyColumn="price_id">
        INSERT INTO tb_price (
            event_schedule_id, 
            seat_class_id, 
            price, 
            created_at,
            updated_at
        ) VALUES (
            #{eventScheduleId}, 
            #{seatClassId}, 
            #{price}, 
            NOW(),
            NOW()
        )
                 <selectKey resultType="long" keyProperty="id" order="AFTER">
             SELECT LAST_INSERT_ID()
         </selectKey>
     </insert>

     <update id="updatePrice" parameterType="Price">
         UPDATE tb_price SET
             seat_class_id = #{seatClassId},
             price = #{price},
             updated_at = NOW()
         WHERE price_id = #{id}
     </update>
     
</mapper> 
