<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyokemon.event.repository.SavedEventRepository">


    <insert id="save" parameterType="SavedEvent" useGeneratedKeys="true" keyProperty="savedEventId"
            keyColumn="saved_event_id">
        INSERT INTO tb_saved_event (
        event_id,
        account_id
        ) VALUES (
        #{eventId},
        #{accountId}
        )
    </insert>

    <delete id="delete" parameterType="SavedEvent">
        DELETE FROM tb_saved_event
        WHERE account_id = #{accountId}
            AND event_id = #{eventId}

    </delete>

    <select id="existsByAccountIdAndEventId" resultType="boolean">
        SELECT
        EXISTS(SELECT 1
        FROM tb_saved_event
        WHERE account_id=#{accountId}
        AND event_id=#{eventId})
    </select>

</mapper>

