<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyokemon.event.repository.TenantEventRepository">

    <select id="findTenantEventListByAccountId" resultType="com.pyokemon.event.dto.tenant.TenantEventListDto">
        SELECT
        e.id as eventId,
        es.id as eventScheduleId,
        e.thumbnail_url as thumbnailUrl,
        e.title,
        es.event_date as eventDate,
        v.venue_name as venueName,
        e.status
        FROM tb_event e
        LEFT JOIN tb_event_schedule es ON e.id = es.event_id
        LEFT JOIN tb_venue v ON es.venue_id = v.id
        WHERE e.account_id = #{accountId}
        ORDER BY es.event_date ASC
    </select>

    <select id="findTenantEventDetailByEventId" resultType="com.pyokemon.event.dto.EventDetailResponseDTO">
        SELECT
        e.id as eventId,
        e.account_id as tenantId,
        e.title,
        e.age_limit as ageLimit,
        e.description,
        e.genre,
        e.thumbnail_url as thumbnailUrl,
        es.id as eventScheduleId,
        es.ticket_open_at as ticketOpenAt,
        es.event_date as eventDate,
        v.venue_name as venueName
        FROM tb_event e
        LEFT JOIN tb_event_schedule es ON e.id = es.event_id
        LEFT JOIN tb_venue v ON es.venue_id = v.id
        WHERE e.id = #{eventId}
        LIMIT 1
    </select>

    <select id="findSeatPriceByEventScheduleId" resultType="com.pyokemon.event.dto.SeatPriceResponseDto">
        SELECT
        sc.class_name as className,
        p.price
        FROM tb_price p
        JOIN tb_seat_class sc ON p.seat_class_id = sc.id
        WHERE p.event_schedule_id = #{eventScheduleId}
        ORDER BY sc.priority ASC
    </select>

    <!-- 이벤트 ID로 가격 정보 조회 (JOIN 사용) -->
    <select id="findSeatPricesByEventId" resultType="com.pyokemon.event.dto.SeatPriceResponseDto">
        SELECT
        sc.class_name as className,
        p.price
        FROM tb_price p
        JOIN tb_seat_class sc ON p.seat_class_id = sc.id
        JOIN tb_event_schedule es ON p.event_schedule_id = es.id
        WHERE es.event_id = #{eventId}
        ORDER BY sc.priority ASC
    </select>

    <update id="updateEvent" parameterType="Event">
        UPDATE tb_event
        SET
        title = #{title},
        age_limit = #{ageLimit},
        description = #{description},
        genre = #{genre},
        thumbnail_url = #{thumbnailUrl},
        status = #{status},
        updated_at = NOW()
        WHERE id = #{id}
    </update>

    <insert id="save" parameterType="Event" useGeneratedKeys="true" keyProperty="id" keyColumn="event_id">
        INSERT INTO tb_event (
        account_id,
        title,
        age_limit,
        description,
        genre,
        thumbnail_url,
        status,
        created_at,
        updated_at
        ) VALUES (
        #{accountId},
        #{title},
        #{ageLimit},
        #{description},
        #{genre},
        #{thumbnailUrl},
        #{status},
        NOW(),
        NOW()
        )
        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!--    앱 커서 기반 공연 조회-->
    <select id="findEventListForApp" resultType="com.pyokemon.event.dto.tenant.app.TenantEventDetailDtoForApp">
        SELECT
        e.id as eventId,
        e.title,
        es.event_date as eventDate,
        v.venue_name as venueName,
        e.genre
        FROM tb_event e
        LEFT JOIN tb_event_schedule es ON e.id = es.event_id
        LEFT JOIN tb_venue v ON es.venue_id = v.id
        WHERE e.account_id = #{accountId}
        AND e.status = 'APPROVED'
        AND es.event_date &gt;= NOW()
        <if test="cursorDate != null and cursorId != null">
            AND (es.event_date, e.id) &gt;= (#{cursorDate}, #{cursorId})
        </if>
        <if test="genre != null">
            AND e.genre = #{genre}
        </if>
        ORDER BY es.event_date ASC, e.id ASC
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <update id="cancelEvent" parameterType="com.pyokemon.event.dto.CancelEventResponseDTO">
        UPDATE tb_event
        SET status = #{status}, updated_at = NOW()
        WHERE id = #{eventId}
    </update>

    <select id="findEventScheduleId" resultType="Long">
        SELECT event_schedule_id
        FROM tb_event_schedule es JOIN tb_event e ON es.event_id = e.id
        WHERE
            e.id = #{eventId}
    </select>

</mapper> 