<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyokemon.event.repository.VenueRepository">

    <resultMap id="venueResultMap" type="com.pyokemon.event.entity.Venue">
        <id property="venueId" column="venue_id"/>
        <result property="venueName" column="venue_name"/>
        <result property="city" column="city"/>
        <result property="street" column="street"/>
        <result property="zipcode" column="zipcode"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

</mapper>