<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyokemon.booking.bff.repository.BookingBffRepository">

    <select id="findByEventScheduleId" resultType="Booking">
        SELECT booking_id, event_schedule_id, seat_id, account_id, tenant_id, payment_id, status, created_at, updated_at
        FROM tb_booking
        WHERE event_schedule_id = #{eventScheduleId}
        ORDER BY created_at DESC
    </select>

    <select id="findByAccountId" resultType="Booking">
        SELECT booking_id, event_schedule_id, seat_id, account_id, tenant_id, payment_id, status, created_at, updated_at
        FROM tb_booking
        WHERE account_id = #{accountId}
    </select>

    <select id="findByAccountIdOrderByDate" resultType="Booking">
        SELECT booking_id, event_schedule_id, seat_id, account_id, tenant_id, payment_id, status, created_at, updated_at
        FROM tb_booking
        WHERE account_id = #{accountId}
        ORDER BY created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="findByBookingId" resultType="Booking">
        SELECT booking_id, event_schedule_id, seat_id, account_id, tenant_id, payment_id, status, created_at, updated_at
        FROM tb_booking
        WHERE booking_id = #{bookingId}
    </select>

</mapper> 