<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyokemon.payment.repository.PaymentRepository">

    <insert id="insertInitiatePayment" parameterType="com.pyokemon.payment.dto.PaymentDto" useGeneratedKeys="true" keyProperty="paymentId">
        INSERT INTO tb_payment (
            booking_id, order_id, amount, method, status, event_schedule_id
        ) VALUES (
                     #{bookingId}, #{orderId}, #{amount}, #{method}, #{status}, #{eventScheduleId}
                 )
    </insert>

    <update id="updatePayment" parameterType="com.pyokemon.payment.dto.PaymentConfirmRequestDto">
        UPDATE tb_payment
        SET payment_key = #{paymentKey}, status = #{status}, method = #{method}, created_at = NOW()
        WHERE order_id = #{orderId}
    </update>

    <update id="updatePaymentFailed">
        UPDATE tb_payment
        SET status = #{status}, updated_at = NOW()
        WHERE order_id = #{orderId}
    </update>

    <select id="selectByOrderId" parameterType="string" resultType="Payment">
        SELECT payment_id, booking_id, payment_key, status
        FROM tb_payment
        WHERE order_id = #{orderId}
    </select>

    <update id="cancelPayment" parameterType="com.pyokemon.payment.dto.PaymentConfirmRequestDto">
        UPDATE tb_payment
        SET status = #{status}, updated_at = NOW()
        WHERE order_id = #{orderId}
    </update>

    <select id="selectLatestByBookingId" resultType="Payment">
        SELECT payment_id, booking_id, order_id, payment_key, status
        FROM tb_payment
        WHERE booking_id = #{bookingId}
    </select>

    <select id="selectByOrderIdStatus" parameterType="string" resultType="Payment">
        SELECT status
        FROM tb_payment
        WHERE order_id = #{orderId}
    </select>

</mapper>
