<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyokemon.payment.bff.repository.PaymentBffRepository">

    <select id="findByPaymentId" resultType="Payment">
        SELECT * FROM tb_payment WHERE payment_id = #{paymentId}
    </select>

</mapper>
