<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyokemon.payment.repository.PaymentRepository">

    <resultMap id="PaymentResultMap" type="com.pyokemon.payment.entity.Payment">
        <id column="id" property="id"/>
        <result column="booking_id" property="bookingId"/>
        <result column="event_schedule_id" property="eventScheduleId"/>
        <result column="order_id" property="orderId"/>
        <result column="payment_key" property="paymentKey"/>
        <result column="method" property="method"/>
        <result column="amount" property="amount"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <insert id="insertInitiatePayment" parameterType="com.pyokemon.payment.dto.PaymentDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_payment (
            booking_id, order_id, amount, method, status, event_schedule_id, created_at, updated_at
        ) VALUES (
                     #{bookingId}, #{orderId}, #{amount}, #{method}, #{status}, #{eventScheduleId}, NOW(), NOW()
                 )
    </insert>

    <update id="updatePayment" parameterType="com.pyokemon.payment.dto.PaymentConfirmRequestDto">
        UPDATE tb_payment
        SET payment_key = #{paymentKey}, status = #{status}, method = #{method}, created_at = NOW()
        WHERE order_id = #{orderId}
    </update>

    <update id="updatePaymentFailed">
        UPDATE tb_payment
        SET status = #{status}, updated_at = NOW()
        WHERE order_id = #{orderId}
    </update>

    <select id="findByOrderId" parameterType="string" resultMap="PaymentResultMap">
        SELECT * FROM tb_payment
        WHERE order_id = #{orderId}
    </select>

    <update id="cancelPayment" parameterType="com.pyokemon.payment.dto.PaymentConfirmRequestDto">
        UPDATE tb_payment
        SET status = #{status}, updated_at = NOW()
        WHERE order_id = #{orderId}
    </update>

    <select id="findLatestByBookingId" resultMap="PaymentResultMap">
        SELECT * FROM tb_payment
        WHERE booking_id = #{bookingId}
        ORDER BY created_at DESC
        LIMIT 1
    </select>

    <select id="findByOrderIdAndStatus" parameterType="string" resultMap="PaymentResultMap">
        SELECT * FROM tb_payment
        WHERE order_id = #{orderId}
    </select>

</mapper>
