<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pyokemon.payment.repository.PaymentRepository">

    <insert id="insertInitiatePayment" parameterType="com.pyokemon.payment.dto.PaymentDto" useGeneratedKeys="true" keyProperty="paymentId">
        INSERT INTO tb_payment (
            booking_id, order_id, amount, method, status, account_id
        ) VALUES (
                     #{bookingId}, #{orderId}, #{amount}, #{method}, #{status}, #{accountId}
                 )
    </insert>

    <update id="updatePayment" parameterType="com.pyokemon.payment.dto.PaymentConfirmRequestDto">
        UPDATE tb_payment
        SET payment_key = #{paymentKey}, status = #{status}, method = #{method}, created_at = NOW()
        WHERE order_id = #{orderId}
    </update>

    <update id="updatePaymentFailed">
        UPDATE tb_payment
        SET status = #{status}, updated_at = NOW()
        WHERE order_id = #{orderId}
    </update>

</mapper>
